{% load staticfiles %}                                                  
<!DOCTYPE html>   
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">          
    <title>Jumbotron Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template --> 
    <link href="{{STATIC_URL}}css/jumbotron.css" rel="stylesheet">          <!-- Just for debugging purposes Don't actually copy this line! -->     <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media  queries -->
    <!--[if lt IE 9]>                                           
    <script
        src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

 <!-- Main jumbotron for a primary marketing message or call to action -->                                                                     
{% block contenidoprincipal %}                      

         <h1>Bienbenido a las encuestas de Zerox!!!!</h1>
         <p>Hola bueno aqui estara las encuestas  asi es simple y sencillo como
             freir   huevo . anda  no seas  bago llena la encuesta  a.a.</p>
         <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
     </div>        
     </div>                                                      
{% endblock %}                                                             <div class="container">                    
     <!-- Example  row of  columns -->              
{% block contenido %}               
       <div class="row">
       <div class="col-md-4">
          <h2>Heading</h2>
         <p>Done LO BORRE ACUERDATE   </p>
         <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
     </div>
{% endblock contenido %}
      </div>
      <hr>
      <footer>                                              
          <p>&copy; Company 2014</p>
      </footer>
  </div> <!-- /container -->                                            
  <!-- Bootstrap core JavaScript                                        
  ==================================================
  -->                
  <!-- Placed at the end of the
  document so the pages load
  faster -->   
  <script src="{{STATIC_URL}}js/jquery/1.11.0/jquery.min.js"></script>  
  <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>   
  </body>                                                               </html> 
